@model IEnumerable<DataLayer.Model.Page_Groups>

@{
    ViewBag.Title = "افزودن گروه های خبری";
}

<h2>افزودن گروه های خبری</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">افزودن گروه خبری</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id=item.GroupID})" class="btn btn-xs btn-warning">ویرایش سرگروه</a>
                <a href="@Url.Action("Details",new {id=item.GroupID})" class="btn btn-xs btn-info">مشخصات سرگروه</a>
                <a href="@Url.Action("Delete",new {id=item.GroupID})" class="btn btn-xs btn-danger">حذف سرگروه</a>
            </td>
        </tr>
    }

</table>
