@model IEnumerable<DataLayer.Model.Users>

@{
    ViewBag.Title = "صفحه مدیریت کاربر";
}
<br />
<div class="alert alert-info text-center">
    <a href="/ManageUsers/Users/Admins" class="btn btn-primary">لیست ادمین ها</a>
    <a href="@Url.Action("Create")" class="btn btn-info">افزودن ادمین و کاربر</a>
</div>
<h3>صفحه اصلی مدیریت کاربران</h3>
<br />
<div class="container" style="margin-right:-1.4%">
    <form action="/ManageUsers/Users/SearchForUsers" method="get" class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" name="id" class="form-control" placeholder="براساس ایمیل و نام کاربری">
        </div>
        <button type="submit" class="btn btn-primary">جستجو</button>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @item.RegisterDate.ToString("dddd, dd MMMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.RoleTitle)
            </td>
            <td>
                <a href="@Url.Action("Edit",new {id=item.UserID })" class="btn btn-xs btn-warning">ویرایش</a> |
                <a href="@Url.Action("Details",new {id=item.UserID })" class="btn btn-xs btn-info">مشخصات</a> |
                <a href="@Url.Action("Delete",new {id=item.UserID })" class="btn btn-xs btn-danger">حذف</a>
            </td>
        </tr>
    }

</table>
